<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :content %>
  <%= f.text_area :content %><br />

  <%= f.submit %>
<% end %>

<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<p><%= post.content %></p>
<% end %>
